:root{
    --redText: #AE3836;
    --heroBgColor: #314b58;
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Helvetica', 'Arial', sans-serif; 
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif; 
  }
  
  /* hero section */
  .hero-section{
    background-color: var(--heroBgColor);
    padding: 20px;
  }
  
  .hero-section h3{
    margin: 0;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-bottom: 25px;
    text-transform: uppercase;
  }
  
  .flex-hero{
    display: flex;
    flex-direction: column;
  }
  
  .hero-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
  }
  
  .hero-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 5px; */
    width: 100%;
  }
  
  .hero-item img{
    width: 100%;
    border-radius: 100%;
  }
  
  .hero-item p{
    color: #FFFFFF;
    font-size: 24px;
    text-transform: uppercase;
  }
  
  .hero-item img{
    width: 150px;
  }
  
  .map-img{
    width: 100%;
    height: max-content;
  }
  
  /* service section */
  .service-container{
    padding: 20px;
  }
  
  .service-section h1{
    padding-left: 20px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--redText);
    margin-bottom: 0;
  }
  
  .service-container div img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .text-container p {
    color: var(--heroBgColor);
    font-size: 20px;
  }

  .text-container a{
    text-decoration: none;
    color: var(--redText);
    cursor: pointer;
  }
  
  .bold-p-text {
    font-weight: bold;
  }
  
  .text-container div .red-text{
    color: var(--redText);
  }
  
  /* articles section  */
  .article-container{
    padding: 20px;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
  }
  
  .article-section h1{
    padding-left: 20px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--redText);
    margin-bottom: 0;
  }
  
  .article-container div img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .article-container div .read-more{
   color: var(--redText);
   cursor: pointer;
  }
  
  
  /* media query for tablets (768px and above) */
  @media screen and (min-width: 768px) {
  
    /* hero section */
    .hero-section{
      background-color: var(--heroBgColor);
      padding: 0 10px;
    }
  
    .hero-section h3{
      margin: 0;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 16px;
      text-align: left;
      text-transform: uppercase;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  
    .flex-hero{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
  
    .hero-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 70%;
      gap: 10px;
      margin-top: 35px;
    }
  
    .hero-item{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .hero-item img{
      width: 100%;
      border-radius: 100%;
      /* height: max-content; */
    }
  
    .hero-item p{
      color: #FFFFFF;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    .map-img{
      width: 40%;
      height: max-content;
    }
  
    /* service section */
    .service-container{
      display: flex;
      flex-direction: row;
      gap: 20px;
      padding: 10px;
    }
  
    .service-section h1{
      padding-left: 10px;
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      color: var(--redText);
      margin-bottom: 0;
    }
  
    .service-container div img{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
  
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
    }
  
    .text-container p {
      color: var(--heroBgColor);
      font-size: 20px;
      margin: 0;
    }
  
    .bold-p-text {
      font-weight: bold;
    }
  
    .text-container div {
      padding-top: 10px;
    }
  
    .text-container div .red-text {
      color: var(--redText);
      opacity: .9;
    }
  
    .text-container div .red-text:nth-child(2) {
      margin-top: 5px;
    }
  
    /* articles section  */
    .article-container{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100%;
    gap: 10px;
    }
  
    .article-section h1{
    padding-left: 20px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: var(--redText);
    margin-bottom: 0;
    }
  
    .wrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .wrapper > a{
        cursor: pointer;
    }
  
    .read-more{
      margin-top: auto;
    }
  
  }
  
  
  /* media query for desktops (1024px and above) */
  @media screen and (min-width: 1024px) {
  
    /* hero section */
    .hero-section{
      background-color: var(--heroBgColor);
      padding: 0 150px;
    }
  
    .hero-section h3{
      margin: 0;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 20px;
      text-align: left;
      text-transform: uppercase;
      position: absolute;
      top: 10px;
      left: 150px;
    }
  
    .hero-container{
      margin-top: 50px;
    }
  
    .hero-item p{
      color: #FFFFFF;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0;
      padding: 0;
    }
  
    .map-img{
      width: 40%;
      height: max-content;
    }
  
  
    /* service section */
    .service-container{
      padding: 30px 150px;
    }
  
    .service-section h1{
      padding-left: 150px;
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      color: var(--redText);
      margin-bottom: 0;
      margin-top: 30px;
    }
  
    .service-container div img{
      width: 100%;
    }
  
    .text-container p {
      color: var(--heroBgColor);
      font-size: 20px;
    }
  
    .bold-p-text {
      font-weight: bold;
    }
  
    .text-container span .red-text{
      color: var(--redText);
    }
  
     /* articles section  */
    .article-container{
      padding: 30px 150px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
    }
   
    .article-container div{
      width: 100%;
      height: 100%;
    }
  
    .article-section h1{
      padding-left: 150px;
      font-weight: bold;
      font-size: 30px;
      text-transform: uppercase;
      color: var(--redText);
      margin-bottom: 0;
    }
  
  }